/*
Color Pallet 1

1 Dark gray: #33333d
2 Light Gray:#474747
3 Blue: #0067ad



Color Pallet 2

1 Dark gray: #333333
2 Light Gray:#4c4b55
3 Green: #88b04b



Color Pallet 3

1 Dark gray: #33333d
2 Light Gray:#474747
3 Orange: #f19300
*/

body {
  font-size: 22px;
}

h2 {
  font-size: 54px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 22px;
}

#header-profile-picture {
  width: 100%;
}

#header-list {
  list-style-type: none;
}

#header-list li {
  margin-bottom: 2em;
}

strong {
  color: #88b04b;
  /*color 3*/
}

.header {
  background-color: #333333;
  /*color 1*/
  color: white;
  margin-bottom: 0px;
}

.projs-img {
  width: 100%;
}

.simple-header {
  background-color: #88b04b;
  /*color 3*/
  color: #4c4b55;
  padding-left: 5em;
  padding-top: 0.6em;
  padding-bottom: 0.1em;
  margin-bottom: 2em;
  /*color 2*/
}

.proj-holder {
  margin: 2em;
}

.proj-holder h4 {
  line-height: 1.8em;
  color: white;
}

.Projects {
  background-color: #4c4b55;
  /*color 2*/
}

.Education {
  background-color: #4c4b55;
  color: white;
  padding-bottom: 3em;
  /*color 2*/
}

code {
  background-color: #4c4b55;
  /*color 2*/
  color: #88b04b;
  /*color 3*/
}

#softskill-icon {
  width: 1.3em;
  height: 1.5em;
  display: inline;
}

.proj-link {
  color: #88b04b;
}

.proj-link:hover {
  color: #52692d;
  /*color 3 but darker*/
}

#reference {
  position: fixed;
  right: 2em;
  z-index: 1;
}

#reference button {
  width: 10em;
  margin: 0.5em;
  background-color: rgba(48, 48, 48, 0.03);
  color: rgba(255, 255, 255, 0.3);
}

#reference button:hover {
  background-color: rgba(48, 48, 48, 1);
  color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}
